{% extends 'base.html.twig' %}

{% block title %} List of Task {% endblock %}

{% block body %}

    <div>
        <ul style="list-style-type: none">
            {% for activeTask in activeTaskList %}
                <li class="task-list">
                    {{ activeTask.name }} - end: {{ activeTask.endDate|date("d/m/Y") }}
                    <a class="delete" href="{{ path('task_delete', {userId: userId, taskId: activeTask.id}) }}">
                        <span class="material-symbols-outlined">delete</span>
                    </a>

                    <a class="update" href="{{ path('task_update', {userId: userId, taskId: activeTask.id}) }}">
                        <span class="material-symbols-outlined">edit</span>
                    </a>

                    <a class="update" href="{{ path('task_finish', {taskId: activeTask.id}) }}">
                        <span>finish</span>
                    </a>

                </li>
            {% endfor %}
        </ul>
    </div>

    <div style="background: #27333A">
        <ul>

            {% for finishTask in finishTaskList %}
                <li class="task-list">
                    {{ finishTask.name }} - end: {{ finishTask.endDate|date("d/m/Y") }}
                    <a class="delete" href="{{ path('task_delete', {userId: userId, taskId: finishTask.id}) }}">
                        <span class="material-symbols-outlined">delete</span>
                    </a>

                    <a class="update" href="{{ path('task_update', {userId: userId, taskId: finishTask.id}) }}">
                        <span class="material-symbols-outlined">edit</span>
                    </a>

                    {% if finishTask.isFinish == false %}
                        <a href="{{ path('task_update', {userId: userId, taskId: finishTask.id}) }}">
                            <span>second try</span>
                        </a>
                    {% endif %}

                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}